---
interface Props {
    name: string,
    cohort: string,
    githubUser?: string[]
    imageUrl?: string[]
}

const { name, imageUrl, cohort, githubUser } = Astro.props
---
<style>
    .fellow-card {
        width: 200px;
        border: 1px solid #ddd;
        border-radius: 8px;
        overflow: hidden;
    }

    .fellow-image {
        width: 100%;
        height: 200px;
        background: #eee;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .fellow-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .fellow-info {
        padding: 0.5rem;
    }
    .fellow-info h3 {
        margin-top: 0
    }
    .fellow-info p {
        padding: 0;
        margin: 0;
    }
    .fellow-info a {
        padding: 0;
        margin: 0;
        color: inherit;
        text-decoration: none;
    }
    .fellow-info a:hover {
        text-decoration: underline;
    }
</style>

<div class="fellow-card">
    <div class="fellow-image">
        {imageUrl !== undefined && <img src={imageUrl[0]} alt={name} />}
    </div>

    <div class="fellow-info">
        <h3>{name}</h3>
        <p>Cohort {cohort}</p>
        {githubUser !== undefined && <a href={`https://github.com/${githubUser[0]}`} target="_blank">GitHub: {githubUser}</a>}
    </div>
</div>
