---
import BasicCard from "@/layouts/BasicCard.astro"

interface Props {
    name: string;
    cohort: string;
    githubUser?: string[] | undefined;
    imageUrl?: string[] | undefined;
}
const { name, cohort, githubUser, imageUrl } = Astro.props
---

<style>
    h3 { margin: 0; }
</style>

<BasicCard
    imageUrl={imageUrl?.[0]}
    data-fallback={imageUrl?.[1]}
    referentia={[
        { text: `Cohort ${cohort}`},
        ...githubUser?.map(user => ({
            text: `GitHub: ${user}`,
            href: `https://github.com/${user}`
        }
        )) ?? []
    ]}
>
    <h3 slot="header">{name}</h3>
</BasicCard>
