---
import type { CollectionEntry } from 'astro:content'
import LayoutBase from './LayoutBase.astro'

interface Props {
    fellow: CollectionEntry<'fellows'>
}

const { fellow } = Astro.props
const {
    data: { metaName, metaImageUrl, cohort, idGithub }
} = fellow;
const referentia = [
    { text: `Cohort ${cohort}` },
    { text: `GitHub: ${idGithub?.[0]}`, href: `https://github.com/${idGithub?.[0]}` }
]
---

<LayoutBase
    title={metaName}
    description={`Profile of ${metaName}, cohort ${cohort}`}
>
    <article class="profile">
        <header class="profile-header">
            <h1>{metaName}</h1>
            <div class="profile-referentia">
                {referentia.map(ref => (
                    <span>{ref.href ? <a href={ref.href}>{ref.text}</a> : ref.text}</span>
                ))}
            </div>
            {metaImageUrl?.[0] && (<img src={metaImageUrl[0]} alt={metaName} />)}
        </header>
        <div class="profile-content">
            <slot />
        </div>
    </article>
</LayoutBase>
